body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sponsor img {
	max-width: 200px;
}

.circuit-background {
    background-image: url(/images/actw-main-background.png);
}

.blank-background {
    background: #ffffff;
    padding: 50px;
    margin: 100px;
}
