section#about
  h2 What are ChickTech Career Events?

  p.callout As the tech scene continues to grow, more and more opportunities for both current and future professionals are added every day. ChickTech Career Events are designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent.


