section#about
  h2 What is ChickTech Career Events?

  p.callout As the tech scene continues to grow, more and more opportunities for both current and future professionals are added every day. ChickTech Career Events is a website designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent.

  p The website includes:
  ul
    li Upcoming Events
    li Demos

  p Interested in volunteering during the event? <a href="#contact">Let us know</a>!
