section#about
  h2 What is ACT-W?

  p.callout As the tech scene continues to grow, more and more opportunities for both current and future professionals are added every day. ACT-W is a conference designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent.

  p The conference includes:
  ul
    li speaking sessions
    li hands-on workshops
    li one-on-one coaching sessions
    li a career fair

  p Don’t miss this opportunity to meet tech and business mentors, learn from our speakers, build technical and social skills, and exchange experiences.

  p This event is open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry and invite you to this great event!

  p Interested in volunteering during the event? <a href="#contact">Let us know</a>!