section#blog
	if blogs
		h2 Blog

		each blog in blogs
			h3 Posted by: 
				= blog.username
			h2
				= blog.title 
			p
				= blog.getBlogRxns()


			ul
				li
					a(href='/') Like
				li
					a(href='/') Love
				li
					a(href='/') Haha
				li
					a(href='/') Wow
				li
					a(href='/') Sad
				li
					a(href='/') Angry

	p.callout click here to read blog posts