section#blog
	h2 Blog

	p.callout Please post about your experience at ACT-W! This can be a post about the entire weekend or a workshop/talk that made a significant impact on you. This blog is open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry to contribute to the conversation!

	ul
	each blog in blogs
		li
			= blog.title

