section#blog
	h2 Blog

	p.callout Please post about your experience at ACT-W! This can be a post about the entire weekend or a workshop/talk that made a significant impact on you.

	each blog in blogs
		h3 Posted by: 
			= blog.username
		h2
			= blog.title 
		p
			= blog.blogContent
