section#cities
  h2 Cities

  ul
    li
      a(href='/pdx') Portland
    li
      a() Seattle
    li
      a() San Francisco
    li
      a() Austin
    li
      a() Boston
    li
      a() Chicago
    li
      a() New York