#cities
  h2 Cities we are in

  ul
    li
      a(href='/pdx') Portland
    li
      a(href='/seattle') Seattle
    li
      a(href='/sf') San Francisco
    li
      a(href='/atx') Austin
    li
      a(href='/boston') Boston
    li
      a(href='/chicago') Chicago
    li
      a(href='/nyc') New York 
