section#contact
  h2 Contact Us! 

  .contact
    dl 
      dt.name Janice Levenhagen
      dd.title Founder &amp; Executive Director ChickTech
      dd.email janice.levenhagen@chicktech.org

  .contact
    dl 
      dt.name Jenifer Oslislo
      dd.title City Director, Portland Lesbians Who Tech
      dd.email lwt@poeks.com

  .contact
    h3 For website help or questions:
    dl
      dt.name Shaelyn Watson
      dd.title Career Events Manager, ChickTech Portland
      dd.email shaelyn.watson@chicktech.org