#contact
	h2 Contact Us! 

	.contact
		p
			strong Janice Levenhagen
		p Founder & Executive Director ChickTech
		p janice.levenhagen@chicktech.org

	.contact
		p
			strong Jenifer Oslislo
		p City Director, Portland Lesbians Who Tech
		p lwt@poeks.com

	.contact
		p
			strong For website help or questions, contact
		p
		p Shaelyn Watson: Career Events Manager, ChickTech Portland
		p shaelyn.watson@chicktech.org