extends ../layout

block content
  body.home
    include navbar

    main

      // img(src='/images/actw-background1.png')

      include about
      include cities
      include sponsors
      include opportunities
      include contact
