extends ../layout

block content
  body.home
    include navbar

    main

      include header
      img(src='/images/actw-background1.png')
      include cities
      include about
      include opportunities
      include contact
