header

  .wrapper
    a.logo(href='/') ChickTech

    nav.primary
      //i.fa.fa-bars
      ul
        li
          a(href='#cities') Cities
        li
          a(href='#opportunities') Opportunities
        li
          a(href='#contact') Contact
        li
          a(href='/signup') Sign Up
        li
          a(href='/login') Log In
        li
          a(href='/logout') Log Out
