header

  .wrapper
    a.logo(href='/')
      img(src='/images/chicktech.jpg' height='100%') 

    nav.primary
      //i.fa.fa-bars
      ul
        li
          a(href='#cities') Cities
        li
          a(href='#about') About
        li
          a(href='#opportunities') Opportunities
        li
          a(href='#contact') Contact
