header
  
  .wrapper
    a.logo(href='/') ACT-W

    nav.primary
      //i.fa.fa-bars
      ul
        li
          a(href='#about') About
        li
          a(href='#cities') Cities
        li
          a(href='#sponsors') Sponsors
        li
          a(href='#opportunities') Opportunities
        li
          a(href='#organizers') Organizers
        li
          a(href='#blog') Blog
        li
          a(href='#contact') Contact
        li
          a(href='/signup') Sign Up 
        li
          a(href='/login') Log In 
