header
  
  a.logo(href='/') ACT-W

  nav.primary
    ul
      li
        a(href='#about') About
      li
        a(href='#cities') Cities
      li
        a(href='#sponsors') Sponsors
      li
        a(href='#opportunities') Opportunities
      li
        a(href='#organizers') Organizers
      li
        a(href='#contact') Contact
