section#opportunities
	h2 Sponsorship Opportunities!
	
	p
		strong You're a tech company with a strong presence and a wide range of employment and diversity needs.
	p We're a great opportunity for you to meet and mentor potential talent, talk about how you're changing the industry, and build your talent network.  
	p
		strong Let's connect!
	p For general information, reach out to 
		a(href='mailto:info@chicktech.org') info@chicktech.org
	p If you are interested in becoming a sponsor, speaking or hosting a workshop, or having a presence at the career fair, please contact 
		a(href='mailto:janice.levenhagen@chicktech.org') Janice Levenhagen 
		| for the sponsorship deck.
