section#organizers
	h2 The Organizers

	.organizer
		img(src='/images/chicktech.jpg')
		p
			strong Chick Tech
		p ChickTech is dedicated to retaining women in the technology workforce and increasing the number of women and girls pursuing technology-based careers. We facilitate hands-on technology-centric events to empower, support, and increase the confidence of women and girls. Through our events, we build community, empower participants to see themselves as leaders, and provide networking and mentoring opportunities in the rapidly growing high tech industry.

	.organizer
		img(src='/images/women_who_code.png')
		p
			strong Women Who Code
		p Women Who Code is a non-profit dedicated to inspiring women to excel in technology careers. We provide an avenue into tech, empower women with skills needed for professional advancement, and provide environments where networking and mentorship are valued. The organization has executed more than 1,200 free events around the world, garnered a membership exceeding 25,000, and has a presence in 15 countries.

	.organizer
		img(src='/images/lesbians_who_tech.jpg')
		p
			strong Lesbians Who Tech
		p Lesbians Who Tech is a Community of Queer Women in or around tech (and the people who love them) consisting of 6000 queer women in tech. We exist for 3 reasons:
		p 1. Connecting women in our community. We know amazing things can happen when we simply connect. 
		p 2. Visibility. There's not a lot of out queer women role models and we want to get more stories of successful queer women in tech.
		p 3. Increase the number of women in tech.

	.organizer
		img(src='/images/girl_develop_it.png')
		p
			strong Girl Develop It
		p Girl Develop It is a nonprofit organization that exists to provide affordable and judgment-free opportunities for women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their every day lives.










