section#sponsors
  h2 Our Generous Sponsors

  .sponsor.cdk 
    img(src='/images/sponsor_logos/cdk_global.png')
    <p hidden> CDK Global
  .sponsor 
    img(src='/images/sponsor_logos/appnexus.png')
    <p hidden> Appnexus
  .sponsor 
    img(src='/images/sponsor_logos/cinder_staffing.png')
    <p hidden> Cinder Staffing
  .sponsor
    img(src='images/sponsor_logos/urban_airship.jpg')
    <p hidden> Urban Airship
  .sponsor 
    img(src='/images/sponsor_logos/smarsh.png')
    <p hidden> Smarsh
  .sponsor 
    img(src='/images/sponsor_logos/simple.png')
    <p hidden> Simple
  .sponsor 
    img(src='/images/sponsor_logos/puppet_labs.png')
    <p hidden> Puppet Labs
  .sponsor 
    img(src='/images/sponsor_logos/argentic.jpg')
    <p hidden> Argentic Software
  .sponsor 
    img(src='/images/sponsor_logos/osh_park.png')
    <p hidden> OSH Park
  .sponsor 
    img(src='/images/sponsor_logos/slalom.jpg')
    <p hidden> Slalom
  .sponsor 
    img(src='/images/sponsor_logos/epicodus.jpg')
    <p hidden> Epicodus
  .sponsor 
    img(src='/images/sponsor_logos/portland_code_school.png')
    <p hidden> Portland Code School
  .sponsor 
    img(src='/images/sponsor_logos/code_fellows.png')
    <p hidden> Code Fellows
  .sponsor 
    img(src='/images/sponsor_logos/tek_systems.jpg')
    <p hidden> TEK Systems
  .sponsor 
    img(src='/images/sponsor_logos/workform.png')
    <p hidden> Workform
  .sponsor 
    img(src='/images/sponsor_logos/ai_portland.png')
    <p hidden> The Art Institute of Portland
  .sponsor.forgerock
    img(src='/images/sponsor_logos/forgerock.png')
    <p hidden> Forgerock
