section#about
  h2 Why?

  p.callout Despite being 47% of the workforce, women are 25% of the computing workforce. This is down from 38% in the mid-80's. (Bureau of Labor Statistics)

  img(src='/images/homepage/images/sad-computers.png')

section#about

  .sponsor
    h2 2015 ACT-W Portland Survey Results Show
    p
    p
    img(src='/images/homepage/images/good-conference.png')
