extends ../layout

block content
  body.city
    include navbar

    main
      h1= title
      p Welcome to #{title}

      .reduced-size
        img(src='/images/chicktech_flower_sticker.jpg')

      include about

      h2 Date/Time: TBD

      include sessions
      include schedule
      include organizers
      include sponsors
      include opportunities
