extends ../layout

block content
  body.city
    include navbar

    main
      include about

      //h2 Date/Time: TBD

      include sessions
      include schedule
      include organizers
      include sponsors
      include opportunities
