extends ../layout

block content
  body.circuit-background
    include navbar

    div.blank-background
        h1= title
        p Welcome to #{title}

        img(src='/images/chicktech_flower_sticker.jpg')

        include about
        include sponsors
        include opportunities
        include organizers
