header
  
  a.logo(href='/') ACT-W

  nav.city
    ul
      li
        a(href='#about') About
      li
        a(href='#sessions') Sessions
      li
        a(href='#schedule') Schedule
      li
        a(href='#sponsors') Sponsors
      li
        a(href='#opportunities') Opportunities
      li
        a(href='#organizers') Organizers
      li
        a(href='#contact') Contact
