#schedule
	h2 Schedule: TBD
	
//
	p Friday, April 10th, 2015 at 7:00 PM to Sunday, April 12th, 2015 at 11:30 PM
	p The Art Institute of Portland (1122 NW Davis St, Portland, OR)

	ul
		li 
			strong
				p Friday
		ul
			li
				p 7:30 PM - 11:30 PM 
				p Kickoff party at Smarsh (851 SW 6th Ave #800). Come meet your fellow conference-goers in this Friday night kickoff party. We'll have drinks, catering from Nicholas, and a Red Chair (Sitwithme.org) session where you can tell the world why YOU think diversity in technology is important.
		li
			strong
				p Saturday
		ul
			li
				p 8:00 AM - 8:30 AM
				p Early registration for breakfast attendees
			li
				p 8:30 AM - 10:00 AM
				p Limited space breakfast
				p Keynote speaker: Crystal Beasley
				p Overthrowing the Patriarchy in 3 Easy Steps
			li
				p 9:30 - 10:30 AM
				p Registration and coffee/pastries 
			li
				p 10:40 - 11:05 AM
				p Keynote speaker: Kristin Smith
				p Don't Call Me Sweetie: How to build confidence and create a great workplace for women
			li
				p 11:05 AM - 12:00 PM
				p Lightning talks
			li
				p 12:00 - 1:00 PM
				p Lunch with small group activity
			li
				p 1:00 PM - 5:30 PM
				p Career fair
				p Organization booths
				p Activity booths (including mock interviews and resume reviews)
				p Breakout sessions
			li
				p 6:00 PM - 7:30 PM
				p No-host Birds of a Feather dinners at local restaurants
			li
				p 7:30 PM - 11:30 PM
				p After-party at Esri (309 SW 6th Ave #600). Continue networking with your new best friends at the Saturday night party! We'll have drinks, lots of tabletop games, and gift certificate giveaways for local game stores. Due to space limitations, this event requires separate registration on the RSVP page.
		li
			strong
				p Sunday
		ul
			li
				p 8:30 AM 
				p Doors open
			li
				p 9:00 AM  - 9:30 AM 
				p Keynote speaker: Davy Stevenson
				p Career Advancement: The System is Rigged
			li
				p 9:30 AM 
				p Hackathon kicks off
			li
				p 9:30 AM - 12:15 PM
				p Morning technical workshops
			li
				p 12:15 PM - 1:00 PM 
				p Lunch
			li
				p 1:00 PM - 5:00 PM 
				p Afternoon technical worshops
			li
				p 5:00 PM - 5:30 PM 
				p Wrap-up 




