section#about
  h1 ChickTech Career Events
  h3 Advancing the Careers of Technical Women

  h2(style={color: '#009999'})
    strong We had a great time at the Portland 2016 conference!!

  h2 Friday, April 22 - Sunday, April 24
  h4 1825 SW BROADWAY PORTLAND OR

  p.callout As the #{city} tech scene continues to grow, more and more opportunities for both current and future professionals are added every day.

  p ACT-W is a conference designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent. The conference is led by <a href="http://chicktech.org/" target="_blank">ChickTech</a> in collaboration with <a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a>, <a href="https://www.girldevelopit.com/" target="_blank">Girl Develop It</a>, <a href="http://lesbianswhotech.org/" target="_blank">Lesbians Who Tech</a>, and <a href="https://www.pdx.edu/" target="_blank">Portland State University</a>. Don’t miss this opportunity to meet tech and business mentors, learn from our speakers, build technical and social skills, and exchange experiences.

  p This event is open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry and invite you to take advantage of this great event!

  p Interested in volunteering during the event? We're looking for a project manager and a marketing manager to add to the team and bring it to the next level this year! Email us at <a href="mailto:actw_portland@chicktech.org">actw_portland@chicktech.org</a> if you are interested.
