section#about
  h2(style={color: '#009999'})
    strong We had a great time at the Portland 2016 ACT-W conference!!

  h2 Friday, April 22 - Sunday, April 24

  p.callout As the #{city} tech scene continues to grow, more and more opportunities for both current and future professionals are added every day.


  p Career events are open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry and invite you to take advantage of these great events!

  p Interested in leading a workshop or know of a great host for a workshop? We're also looking for another career events manager to add to the team! Email us at <a href="mailto:volunteers@chicktech.org">volunteers@chicktech.org</a> if you are interested.
