section#contact
  h2 Contact Us! 

  .contact
    dl
      dt.name This website is open source and run by a talented group of developers, designers, and enthusiasts
      dd.title TechChicks
      dd.email github.com/TechChicks/actw

  .contact
    dl
      dt.name For website help or questions, or to learn more about contributing to this open source project
      dd.title Career Events Manager, ChickTech Portland
      dd.email shaelyn.watson@chicktech.org
