extends ../../layout

block content
  body.city
    include navbar

    main
      include about
      //include call-to-action
      //include sessions
      //include schedule
      include organizers
      include sponsors
      include opportunities
      include contact
