header

  .wrapper
    a.logo(href='/')
      img(src='/images/chicktech.jpg' height='100%')

    nav.city
      //i.fa.fa-bars
      ul
        li
          a(href='#schedule') Schedule
        li
          a(href='#sponsors') Sponsors
        li
          a(href='#contact') Contact
