section#schedule
  h1(style={color: '#009999', 'text-align':'center'}) Schedule:

  p Behind the Scenes of Technical Recruiting with ChickTech & Jama

  h1(style={color: '#009999', 'text-align':'center'}) In the Works:

  p Negotiation and Career Development Series w Jessica Williams, in collaboration with Women in Science

  p AWS with Zapproved
