section#schedule
  h1(style={color: '#009999', 'text-align':'center'}) Upcoming:

  p Negotiation and Career Development Series w Jessica Williams, in collaboration with Women in Science

  h1(style={color: '#009999', 'text-align':'center'}) In the Works:

  p AWS with Zapproved

  p Monthly React workshops with Women Who Code
