body {
  // background: url(/images/actw-main-background.png);
  // background-size: 75px;
  // background: linear-gradient(30deg, hsl(93, 44%, 63%), hsl(93, 44%, 3%)), 
  //             url(/images/actw-main-background.png);
  background: linear-gradient(lighten($teal, 30), darken($teal, 15)),
              url(/images/actw-main-background.png);
  background-attachment: fixed;
  background-blend-mode: difference;
  background-size: 100%, 75px;
  //background: fade_out($lighter, .5);
  color: $default;
  font-family: $body;
  font-size: 1.5rem;

  * { transition: all .3s; }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $dark;
}

h1, .h1 { 
  font-size: 3rem; 
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;

  &.underlined {
    border-bottom: 9px solid $dark;
    margin-bottom: 0;
    padding-bottom: 3px;
  }
}

h2, .h2 { 
  font-size: 2.4rem; 
}

h3, .h3 {
  color: $lighter; 
  font-size: 1.5rem;
  font-weight: bold;
}

p, ul, ol {
  font-weight: 400;
  line-height: 1.5;
  margin: 12px 0;
}

ul, ol { list-style-position: inside; }

p {
  &.callout {
    background: fade-out($dark, .5);
    border-radius: 3px;
    color: $bg;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 21px 0;
    padding: 12px;
    padding-left: 24px;
  }

  a {
    border-bottom: 2px solid fade_out($lighter, .55);
    &:hover { border-color: $lighter; }
  }
}

a {
  color: $dark;
  font-weight: 500;
  text-decoration: none;

  &:hover { 
    color: $darker; 
  }
}

main {
  background: $bg;
  box-shadow: 0 0 120px 0 fade-out(darken($teal, 30), .4);
  margin: $header*1.2 auto;
  max-width: 960px;
  width: 100%;

  @media screen and (max-width: 960px) {
    margin: $header auto 0;
    width: 100%;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 9% 6%;

  > * { width: 100%; }

  &:last-of-type {
    padding-bottom: 9%;
  }

  h2 { margin-top: 0; }
}

