img {
  width: 100%;
}

[id="about"] {
  h2 { 
    border-bottom: 3px solid $dark;
    margin-bottom: 0;
  }

  h3 { 
    color: $light; 
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 6px; 
    width: 100%; 
  }
}

[id="cities"] {
  background: linear-gradient(30deg, fade_out($darker, .15), $darker), url(/images/actw-main-background.png);
  background-blend-mode: multiply;
  background-size: 100%, 75px;
  width: 100%;

  h2 {
    color: $default;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      a {
        background: $default;
        border-radius: 3px;
        color: $darker;
        display: block;
        font-size: 2.7rem;
        font-weight: 200;
        margin: 0 6px 6px 0;
        padding: 6px 9px;

        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

[id="sponsors"] {
  background: white;
  display: flex;

  .sponsor { 
    align-items: center;
    display: flex;
    height: auto;
    min-height: 90px;
    max-height: 180px;
    flex-wrap: wrap;
    //justify-content: center;
    padding: 0 3%;
    width: calc(100%/3); 

    img { 
      max-width: 200px;
      order: 2; 
      width: 90%;
    }

    p { 
      font-size: .9rem;
      order: 1;
      text-align: center;
      width: 100%;
    }

    &.forgerock,
    &.cdk {
      img { max-width: 120px; }
    }
  }
}



/* Large desktop */
@media screen and (min-width: 1200px) {
}

/* Desktop + Landscape Tablet */
@media screen and (min-width: 980px) and (max-width: 1199px ) {
}

/* Desktop + Portrait Tablet */
@media screen and (max-width: 979px) and (min-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 767px) and (min-width: 500px) { 
}

/* Mobile */
@media screen and (max-width: 499px) {
}