img {
  width: 100%;
}

.centered {
  text-align: center;  
}

[id="header"] {
  padding: 15% 6%;

  h1 {
    font-size: 5.2rem;
    margin: 0;

    span {
      font-family: $script;
      font-size: 2.7rem;
      font-weight: normal;
      letter-spacing: -1px;
      text-transform: lowercase;
      vertical-align: 9px;
    }
  }

  h3 {
    color: #fff;
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 12px;
    width: 100%;
  }


}
.mainBackground {
  background-image: url(../../public/../images/pdx/images/header.png)
}
.portlandBackground {
  background-image: url(../../public/../images/pdx/images/header.png)
}


[id="about"] {
  padding: 9% 6% 0 6%;
  h1 {
    font-size: 5.2rem;
    margin: 0;

    span {
      font-family: $script;
      font-size: 2.7rem;
      font-weight: normal;
      letter-spacing: -1px;
      text-transform: lowercase;
      vertical-align: 9px;
    }
  }

  h3 {
    color: $teal;
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 12px;
    width: 100%;
  }

  .centered {
    text-align: center;  
  }
}


[id="cities"] {
  background: linear-gradient(darken($teal, 15) 30%, $melon 150%);
  //background: $melon;
  width: 100%;

  h2 {
    color: $bg;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 15px;

    li {
      a {
        background: fade_out($teal, .4);
        border-radius: 3px;
        color: $bg;
        display: block;
        font-size: 3.6rem;
        font-weight: 200;
        margin: 0 6px 6px 0;
        padding: 6px 12px;

        &:hover {
          background: $melon;
          color: #FFF;
        }
      }
    }
  }
}

[id="blog"] {
  div.blog {
    border: 1px solid #DADADA;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
  }

  ul.submittedreactions {
    border-radius: 10px;
    width: 325px;
    float: left;
  }
  ul.submittedreactions > li {
    display: inline-block;
    margin: 0;
    padding: 1px;
    border: none;
  }
  ul.submittedreactions > li > button {
    border: none;
  }
  ul.submittedreactions > li img {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  ul.submittedreactions > li p {
    display: block;
    text-align: center;
    margin: 0;
    line-height: .6em;
    font-size: .6em;
  }

  ul.reactions {
    border: 2px solid #DADADA;
    border-radius: 10px;
    width: 325px;
    background-color: #DADADA;
    float: right;
  }
  ul.reactions > li {
    display: inline-block;
    margin: 0;
    padding: 2px;
  }
  ul.reactions > li > button {
    border: none;
    background-color: #DADADA;
  }
  ul.reactions > li img {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  ul.reactions > li p.showOnHover {
    display: none;
  }
  ul.reactions > li:hover p.showOnHover {
    display: block;
    text-align: center;
    margin: 0;
    line-height: .7em;
    font-size: .7em;
  }
  ul.reactions > li p {
    display: block;
    text-align: center;
    margin: 0;
    line-height: .7em;
    font-size: .7em;
  }
}

[id="sponsors"] {
  background: white;
  padding: 3% 6%;

  .sponsors {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //max-width: 960px;
  }

  .sponsor {
    padding: 3% 6%;
    width: calc(100%/3);

    &:nth-of-type(3n+1) { padding-left: 0; }
    &:nth-of-type(3n+2) { text-align: center; }
    &:nth-of-type(3n+3) { padding-right: 0; text-align: right; }

    img {
      max-width: 210px;
      order: 2;
      width: 100%;
    }

    p {
      font-size: .9rem;
      order: 1;
      text-align: center;
      width: 100%;
    }

    &.forgerock,
    &.cdk {
      img { max-width: 150px; }
    }
  }
}

[id="opportunities"] {
}

[id="schedule"] {
  padding: 3% 6%;
}

[id="organizers"] {
  background: white;
  img { max-width: 240px }

  .organizer {
    margin-top: 30px;
  }
}
[id="contact"] {
  background: darken($teal, 36);
  color: $teal;

  h2 { color: white; }
  h3 {
    color: $teal;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .contact {
    margin: 15px 0;
    width: 75%;
  }

  dd, dt {
    line-height: 1.5;
  }

  .name {
    color: white;
    font-size: 1.1em;
    font-weight: normal;
  }

  .title {
    font-weight: bold;
  }

  .email {
    font-size: 9px;
    color: fade-out($teal, .4);
  }
}

/* Large desktop */
@media screen and (min-width: 1200px) {
}

/* Desktop + Landscape Tablet */
@media screen and (min-width: 980px) and (max-width: 1199px ) {
}

/* Desktop + Portrait Tablet */
@media screen and (max-width: 979px) and (min-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 767px) and (min-width: 500px) {
}

/* Mobile */
@media screen and (max-width: 499px) {
}
