section#contact
  h2 Contact Us! 

  .contact
    dl 
      dt.name ACT-W Bay Area
      dd.title ACT-W Bay Area Conference Organizing Team
      dd.email ****

  .contact
    dl
      dt.name This website is open source and run by a talented group of developers, designers, and enthusiasts
      dd.title TechChicks
      dd.email github.com/TechChicks/actw

  .contact
    h3 For website help or questions, or to learn more about contributing to this open source project:
    dl
      dt.name Shaelyn Watson
      dd.title Career Events Manager, ChickTech Portland
      dd.email shaelyn.watson@chicktech.org
