header

  .wrapper
    a.logo(href='/')
      img(src='/images/chicktech.jpg' height='100%')

    nav.city
      //i.fa.fa-bars
      ul
        li
          a(href='#about') About
        li
          a(href='#sponsors') Sponsors
        li
          a(href='#opportunities') Opportunities
        li
          a(href='#organizers') Organizers
        //li
          a(href='#contact') Contact
        li
          a(href='#events') Upcoming Events
        li
          a(href='#demos') Demos
        li
          a(href='leadership-team') Leadership Team
