extends layout

block content
	body.blog
		include homepage/navbar
		main
			section#blog
				h1 #{title}
				if blogs
					h2 Blog

					each blog in blogs
						h3 Posted by: 
							= blog.username
						h2
							= blog.title 
						p
							= blog.getBlogRxns()


						ul.reactions
							li
								img(src='/images/reactions/like.png')
							li
								img(src='/images/reactions/love.png')
							li
								img(src='/images/reactions/thanks.png')
							li
								img(src='/images/reactions/haha.png')
							li
								img(src='/images/reactions/wow.png')
							li
								img(src='/images/reactions/sad.png')
							li
								img(src='/images/reactions/angry.png')
			include homepage/contact
