extends layout

block content
	body.blog
		include homepage/navbar
		main
			section#blog
				h1 #{title}
				if blogs
					each blog in blogs
						h3 Posted by: 
							= blog.username
						h2
							= blog.title 
						p
							= blog.getBlogRxns().rxn


						ul.reactions
							li
								img(src='/images/reactions/like.png')
								p Like
							li
								img(src='/images/reactions/love.png')
								p Love
							li
								img(src='/images/reactions/thanks.png')
								p Thanks
							li
								img(src='/images/reactions/haha.png')
								p Haha
							li
								img(src='/images/reactions/wow.png')
								p Wow
							li
								img(src='/images/reactions/sad.png')
								p Sad
							li
								img(src='/images/reactions/angry.png')
								p Angry
			include homepage/contact
