extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Advancing the Careers of Technical Women 
  h3 Building the Future of Women in Tech

  p As the Portland tech scene continues to grow, more and more opportunities for both current and future professionals are added every day. 

  p ACT-W is designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent. The conference is organized by ChickTech, Women Who Code, Girl Develop It, and Lesbians Who Tech with major support from supporters CDK Global, AppNexus, and The Art Institute of Portland. Don’t miss this opportunity to meet tech and business mentors, learn from our speakers, build technical and social skills, and exchange experiences.

  p This event is open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry and invite you to take advantage of this great event!

  p Interested in volunteering during the event? Let us know!