extends layout

block content
  body.circuit-background
    include homepage/navbar

    div.blank-background
        h1= title
        p Welcome to #{title}

        img(src='/images/actw-background1.png')

        include homepage/about
        include homepage/sponsors
        include homepage/opportunities
        include homepage/organizers
        include homepage/contact
