<form action="/authenticate" method="post">
    <label>Username</label>
    <input  id="username" name="username" placeholder="Username" type="text"  class="span12"/>
    <a class="reset-password" href="#">Forgot your password?</a>
    <label>Password</label>
    <input id="password" name="password" placeholder="Password" type="password" class="span12">
    <div class="form-actions">
		<a class="btn btn-primary" href="/signup"> Sign Up!</a> 
        <button type="submit" class="btn btn-success pull-right">Sign In</button>
        <div class="clearfix"></div>
    </div>
</form>