<form action="/register" method="post">
    <label>Email Address</label>
    <label>Username</label>
    <input  id="username" name="username" placeholder="Username" type="text"  class="span12"/>
    <label>Password</label>
    <input id="password" name="password" placeholder="Password" type="password" class="span12">
    <div class="form-actions">
        <button type="submit" class="btn btn-success pull-right">Sign Up</button>
        <div class="clearfix"></div>
    </div>
</form>
        


