.sponsors
	h2 Our Generous Sponsors

	.sponsor 
		img(src='/images/sponsor_logos/cdk_global.png')
		p CDK Global
	.sponsor 
		img(src='/images/sponsor_logos/appnexus.png')
		p Appnexus
	.sponsor 
		img(src='/images/sponsor_logos/cinder_staffing.png')
		p Cinder Staffing
	.sponsor
		img(src='images/sponsor_logos/urban_airship.jpg')
		p Urban Airship
	.sponsor 
		img(src='/images/sponsor_logos/smarsh.png')
		p Smarsh
	.sponsor 
		img(src='/images/sponsor_logos/simple.png')
		p Simple
	.sponsor 
		img(src='/images/sponsor_logos/puppet_labs.png')
		p Puppet Labs
	.sponsor 
		img(src='/images/sponsor_logos/argentic.jpg')
		p Argentic Software
	.sponsor 
		img(src='/images/sponsor_logos/osh_park.png')
		p OSH Park
	.sponsor 
		img(src='/images/sponsor_logos/slalom.jpg')
		p Slalom
	.sponsor 
		img(src='/images/sponsor_logos/epicodus.jpg')
		p Epicodus
	.sponsor 
		img(src='/images/sponsor_logos/portland_code_school.png')
		p Portland Code School
	.sponsor 
		img(src='/images/sponsor_logos/code_fellows.png')
		p Code Fellows
	.sponsor 
		img(src='/images/sponsor_logos/tek_systems.jpg')
		p TEK Systems
	.sponsor 
		img(src='/images/sponsor_logos/workform.png')
		p Workform
	.sponsor 
		img(src='/images/sponsor_logos/ai_portland.png')
		p The Art Institute of Portland
	.sponsor 
		img(src='/images/sponsor_logos/forgerock.png')
		p Forgerock
