section#about
  h1 ACT-W SEATTLE
  h3 Advancing the Careers of Technical Women 

  p.callout Saturday September 10, 2016 <br/>9:00 AM - 7:00 PM

  p.callout Porch Headquarters, 2200 1st Ave S, Seattle, WA 98134

  p ACT-W Seattle: A Conference to Advance the Careers of Technical Women Building the Future of Women in Tech As the Seattle tech scene continues to grow, more and more opportunities for both current and future professionals are added every day. ACT-W is designed to help women professionals network, grow their skills, and discover employers looking for exceptional talent. Don’t miss this opportunity to meet tech and business mentors, learn from our speakers, build both technical and social skills, and exchange experiences.

  p This ChickTech led event is open to the public and is an exceptional forum for those who are dedicated to the advancement of women in technology. Whether entry level or executive, we welcome all professionals in the industry and invite you to take advantage of this great event!

  p Like last year, we’ll have mock interviews and resume reviews, a career fair, career and technical workshops, and some great keynote and lightning talk speakers!

  p Proceeds from the ACT-W conference benefit ChickTech, furthering the future of girls and women in technology.  Additionally, ChickTech K-12 programs benefit girls by exposing them to a wide variety of STEM fields, introducing them to women and men working in these fields, and teaching basic STEM skills that increase self-efficacy so they learn they can be successful in these fields themselves.
