extends ../../layout

block content
  body.city
    include navbar

    main
      include about
      include schedule
      include opportunities
      include organizers
      include sponsors
      include contact
