section#schedule
  h2 Schedule
  p Saturday September 10, 2016
  p Porch Headquarters, 2200 1st Ave S, Seattle, WA 98134

  ul
    li
      strong
        p Saturday
    ul
      li
        p 8:00 AM - 8:30 AM
        p Early registration for breakfast attendees
      li
        p 8:30 AM - 10:00 AM
        p Limited space breakfast
        p Keynote speaker
        p *Overthrowing the Patriarchy in 3 Easy Steps
      li
        p 9:30 - 10:30 AM
        p Registration and coffee/pastries 
      li
        p 10:40 - 11:05 AM
        p Keynote speaker
        p *Don't Call Me Sweetie: How to build confidence and create a great workplace for women
      li
        p 11:05 AM - 12:00 PM
        p Lightning talks
      li
        p 12:00 - 1:00 PM
        p Lunch with small group activity
      li
        p 1:00 PM - 5:30 PM
        p Career fair
        p Organization booths
        p Activity booths (including mock interviews and resume reviews)
        p Breakout sessions
      li
        p 6:00 PM - 7:30 PM
        p No-host Birds of a Feather dinners at local restaurants
      li
        p 7:30 PM - 11:30 PM
        p After-party 



